#arriba {
  background-color: #546c95ff;
  color: #faf8ea;
}
#centro {
  background-color: #faf8ea;
}
#abajo {
  background-color: #546c95ff;
}
body {
  background-color: #f78f6d;
}
figcaption {
  color: #faf8ea;
}

p {
  text-align: justify;
}
div {
  text-align: justify;
}
