nav li a {
  font-family: "Raleway", sans-serif;
  color: #faf8ea !important;
}
nav {
  background-color: #546c95ff;
}
* {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
footer #fot {
  background-color: #f78f6d !important;
  color: black;
}
footer #fot a {
  color: black;
}
footer #fot h6 {
  color: #faf8ea;
}
#pap #dp > li > a {
  color: #546c95ff !important;
}
span {
  color: #faf8ea;
  background-color: #546c95ff;
  padding: 5px;
  display: block;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}
body {
  background-color: #faf8ea;
}
#container {
  max-width: 600px;
  margin: auto;
  padding-top: 10px;
}

#container a:hover {
  background-color: #f7906dad;
}
#enlacesfoto img {
  margin-top: 30px;
  max-width: 100px;
  margin: auto;
  border-radius: 50%;
  display: block;
}
#container > a {
  color: #faf8ea;
  text-decoration: none;
  background-color: rgba(84, 108, 149, 0.7);
  padding: 20px;
  display: block;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
}
#ti3 h3 {
  color: #546c95ff;
  text-align: center;
}

#enlacesfoto figcaption {
  text-align: center;
  color: #546c95ff;
}
#enlacesfoto img {
  margin-top: 2%;
}
